<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/index.css">
</head>

<body>
  <header class="superior">
    <div class="logo">
      <div class="logo_p">P</div>
      <h1> Estaciona<span style="color: var(--primary);">+</span></h1>
    </div>
    <div class="spacer"></div>
    <section class="search">
      <input type="text" placeholder="Buscar placa…" />
      <button id="btnBuscar" class="btn btn_registro">Buscar</button>
    </section>
  </header>

  <main class="container">
    <section class="search_result" id="searchresult">
      <div class=" search_button">
        <h3>Resultado da busca🔎</h3>
        <button id="closeResult">&times;</button>
      </div>
      <table>
        <thead>
          <tr>
            <th class="borda_i">Placa</th>
            <th>Entrada</th>
            <th>Permanência</th>
            <th class="borda_f">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ABC1D23</td>
            <td>15:20</td>
            <td>2h 30min</td>
            <td>R$ 28,00</td>
          </tr>
        </tbody>
      </table>
      <p id="resultadoPlaca">Nenhum veículo encontrado.</p>
    </section>

    <div class="card">
      <section class="panel">
        <form method="POST" action="{{ url_for('registrar_entrada') }}">
          <h3>Entrada rapida</h3>

          <div class="form_col">
            <label for="placa">Placa do veículo</label>
            <input type="text" id="placa" name="placa" placeholder="" maxlength="7">
          </div>
          <div class="form_row">
            <div class="form_col">
              <label for="tipo">Tipo</label>
              <select id="tipo" name="veiculos">
                <option value="carro">Carro</option>
                <option value="moto">Moto</option>
                <option value="van">Van</option>
                <option value="outro">Outro</option>
              </select>
            </div>
          </div>
          <div class="action">
            <button class="btn btn_ticket" type="button">Emitir ticket</button>
            <button class="btn btn_registro" type="submit">Registrar entrada</button>
          </div>
        </form>
      </section>

      <section class="status">

        <div class="stat">
          <small>Vagas totais</small>
          <strong>50</strong>
        </div>
        <div class="stat">
          <small>Ocupadas</small>
          <strong>25</strong>
        </div>
        <div class="stat">
          <small>Vagas Disponiveis</small>
          <strong>25</strong>
        </div>
        <div class="stat">
          <small>Faturamento</small>
          <strong>1.240,00</strong>

      </section>

      <section class="precos" style="padding: 14px;">
        <h3 style="margin: 0 0 8px;">Tabelas de preços</h3>
        <table>
          <thead>
            <tr>
              <th>Descrição</th>
              <th>Preço</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Primeira hora</td>
              <td>12,00</td>
            </tr>
            <tr>
              <td>Hora adicional</td>
              <td>R$ 8,00</td>
            </tr>
            <tr>
              <td>Diária</td>
              <td>R$55,00</td>
            </tr>
            <tr>
              <td>Pernoite</td>
              <td>R$30,00</td>
            </tr>
            <tr>
              <td>Motos (hora)</td>
              <td>R$5,00</td>
            </tr>
          </tbody>

        </table>
      </section>
    </div>
    <section class="historico" style="padding: 14px;">
      <h3 style="margin: 0 0 8px;">Ultimas movimentações</h3>
      <table>
        <thead>
          <tr>
            <th>Hora</th>
            <th>Placa</th>
            <th>Tipo</th>
            <th>Ação</th>
            <th>Vaga</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>18:22</td>
            <td>azs-4874</td>
            <td>Carro</td>
            <td>saída</td>
            <td>21</td>
            <td>15,20</td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>

  <footer>
    <p>© 2025 Estaciona+ Sistema de gestão de estacionamento</p>
  </footer>
</body>

</html>