<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/index.css">
</head>

<body>
  <header class="superior">
    <div class="logo">
      <div class="logo_p">P</div>
      <h1> Estaciona<span style="color: var(--primary);">+</span></h1>
    </div>
    <div class="spacer"></div>
    <section class="search">
      <form method="POST" action="/buscar">
        <input type="text" name="placa_buscar" placeholder="Buscar placa…" />
        <button id="btnBuscar" type="submit" class="btn btn_buscar">Buscar</button>
      </form>
    </section>
  </header>

  <main class="container">
    <section class="search_result" id="searchresult" style="display: {{ 'block' if mostrar_resultado else 'none' }};">
      <div class=" search_button">
        <h3>Resultado da busca🔎</h3>
        <button id="closeResult">&times;</button>
      </div>
      <table>
        <thead>
          <tr>
            <th class="borda_i">Placa</th>
            <th>Entrada</th>
            <th>Saída</th>
            <th>Permanência</th>
            <th class="borda_f">Valor</th>
          </tr>
        </thead>

        <tbody>
          {% if resultado %}
          <tr>
            <td>{{ resultado.placa }}</td>
            <td>{{ resultado.entrada }}</td>
            <td>{{ resultado.agora }}</td>
            <td>{{ resultado.permanencia }}</td>
            <td>{{ "R$ {:,.2f}".format(resultado.valor).replace(".", ",") }}</td>
          </tr>
          {% elif msg_finalizar %}
          <tr>
            <td colspan="5" class="alert_success">{{ msg_finalizar }}</td>
          </tr>
          {% elif msg_busca %}
          <tr>
            <td colspan="5" class="alert_warning">{{msg_busca | safe}}</td>
          </tr>
          {% endif %}

        </tbody>
      </table>
      <section>
        {% if resultado %}
        <form method="POST" action="{{ url_for('finalizar') }}">
          <input type="hidden" name="placa_buscar" value="{{ resultado.placa}}">
          <button type="submit" class="bnt_finalizar">Finalizar</button>
        </form>
        {% endif %}
      </section>

    </section>

    <div class="card">
      <section class="panel">
        <form method="POST" action="{{ url_for('registrar_entrada') }}">
          <h3>Entrada rapida</h3>
          <div class="form_col">
            <label for="placa">Placa do veículo</label>
            <input type="text" id="placa" name="placa" placeholder="" maxlength="8">
          </div>
          <div class="form_row">
            <div class="form_col">
              <label for="tipo">Tipo</label>
              <select id="tipo" name="veiculos">
                <option value="carro">Carro</option>
                <option value="moto">Moto</option>
                <option value="van">Van</option>
                <option value="outro">Outro</option>
              </select>
            </div>
          </div>

          {% with mensagens = get_flashed_messages(with_categories=true) %}
          {% if mensagens %}
          <div class="flash-messeges">
            {% for category, message in mensagens %}
            <div class="flash {{ category }}">{{message}}</div>
            {% endfor %}
          </div>
          {% endif %}
          {% endwith %}

          <div class="action">
            <button class="btn btn_registro" type="submit">Registrar entrada</button>
          </div>

        </form>
      </section>

      <section class="status">

        <div class="stat">
          <small>Vagas totais</small>
          <strong>{{ vagas_totais }}</strong>
        </div>
        <div class="stat">
          <small>Ocupadas</small>
          <strong>{{ vagas_ocupadas }}</strong>
        </div>
        <div class="stat">
          <small>Vagas Disponiveis</small>
          <strong>{{ vagas_disponiveis }}</strong>
        </div>
        <div class="stat">
          <small>Faturamento</small>
          <strong>{{ "R$ {:,.2f}".format(faturamento).replace(".", ",") }}</strong>


      </section>

      <section class="precos" style="padding: 14px;">
        <h3 style="margin: 0 0 8px;">Tabelas de preços</h3>
        <table>
          <thead>
            <tr>
              <th class="descricao_le">Descrição</th>
              <th class="preco_ld">Preço</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Primeira hora</td>
              <td>12,00</td>
            </tr>
            <tr>
              <td>Hora adicional</td>
              <td>R$ 8,00</td>
            </tr>
            <tr>
              <td>Diária</td>
              <td>R$55,00</td>
            </tr>
            <tr>
              <td>Pernoite</td>
              <td>R$30,00</td>
            </tr>
            <tr>
              <td>Motos (hora)</td>
              <td>R$5,00</td>
            </tr>
          </tbody>

        </table>
      </section>
    </div>
    <section class="historico" style="padding: 14px;">
      <h3 style="margin: 0 0 8px;">Ultimas movimentações</h3>
      <table>
        <thead>
          <tr>
            <th>Placa</th>
            <th>Tipo</th>
            <th>Hora</th>
            <th>Ação</th>
            <th>Vaga</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          {% for placa, veiculos, entrada, saida, permanencia, valor in registro %}
          <tr>
            <td>{{ placa }}</td>
            <td>{{ veiculos }}</td>
            <td>{{ entrada }}</td>
            <td>{{ saida }}</td>
            <td>{{ permanencia }}</td>
            <td>{{ "R$ {:,.2f}".format(valor).replace(".", ",") }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </main>

  <footer>
    <p>© 2025 Estaciona+ Sistema de gestão de estacionamento</p>
  </footer>
  <script>
    // Seleciona a mensagem
    const msgs = document.querySelectorAll('.flash {{ category }}');
    if (msgs.length > 0) {
      // Depois de 3 segundos (3000ms), remove a mensagem
      setTimeout(() => {
        msgs.forEach(msg => msg.style.display = 'none');
      }, 3000);
    }
  </script>
  <script>
    const closeBtn = document.getElementById("closeResult");
    const searchResult = document.getElementById("searchresult");

    closeBtn.addEventListener("click", () => {
      searchResult.style.display = 'none';
    });

  </script>
</body>

</html>